@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}

/** 
    GENERIC STYLES	
**/

.flex-row {
	display: flex;
	flex-flow:row wrap;
}
.flex-row.centered {
	justify-content:center;
	align-items:center;
}
.flex-column {
	display: flex;
	flex-flow:column wrap;
}
.flex-column.centered {
	align-content:center;
	align-items:center;
}

.margin-xs {
	margin: 5px !important;
}.margin-sm {
	margin: 10px !important;
}.margin-md {
	margin: 15px !important;
}.margin-lg {
	margin: 20px !important;
}.margin-xl {
	margin: 25px !important;
}.margin-xxl {
	margin: 30px !important;
}

.margin-top-xs {
	margin-top: 5px !important; 	
}.margin-top-sm {
	margin-top: 10px !important; 	
}.margin-top-md {
	margin-top: 15px !important; 	
}.margin-top-lg {
	margin-top: 20px !important; 	
}.margin-top-xl {
	margin-top: 25px !important; 	
}.margin-top-xxl {
	margin-top: 30px !important; 	
}

.margin-bot-xs {
	margin-bottom: 5px !important; 	
}.margin-bot-sm {
	margin-bottom: 10px !important; 	
}.margin-bot-md {
	margin-bottom: 15px !important; 	
}.margin-bot-lg {
	margin-bottom: 20px !important; 	
}.margin-bot-xl {
	margin-bottom: 25px !important; 	
}.margin-bot-xxl {
	margin-bottom: 30px !important; 	
}

.margin-lef-xs {
	margin-left: 5px !important; 	
}.margin-lef-sm {
	margin-left: 10px !important; 	
}.margin-lef-md {
	margin-left: 15px !important; 	
}.margin-lef-lg {
	margin-left: 20px !important; 	
}.margin-lef-xl {
	margin-left: 25px !important; 	
}.margin-lef-xxl {
	margin-left: 30px !important; 	
}

.margin-rig-xs {
	margin-right: 5px !important; 	
}.margin-rig-sm {
	margin-right: 10px !important; 	
}.margin-rig-md {
	margin-right: 15px !important; 	
}.margin-rig-lg {
	margin-right: 20px !important; 	
}.margin-rig-xl {
	margin-right: 25px !important; 	
}.margin-rig-xxl {
	margin-right: 30px !important; 	
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}
.clearfix {
	clear: both;
}
/* Custom CSS
 * --------------------------------------- */
.ui.vertical.menu {
	border-right: 3px solid rgba(54, 84, 121, 1);
}
.ui.vertical.menu .item:hover {
	background-color: rgba(54, 84, 121, .75) !important;
}
.ui.vertical.menu .item:hover, .ui.secondary.menu .active.item {
 	background-color: rgba(54, 84, 121, 1);
 	color: white;
 	border-radius: 10px 0px 0px 10px !important;
}
.ui.vertical.menu {
	width: auto;
}
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1{
	font-size: 3em;
}
nav#main {
	position:fixed;
	z-index: 99;
	left:0;
	top:0;
	display: flex;
	padding: 5px 0px;
	flex-flow:row wrap;
	align-items:center;
	width: 100%;
	background-color: white;
	border-bottom: 5px solid rgba(54, 84, 121, 1);
}
nav#main div#logo {
	display: flex;
	flex-flow:row column;
	flex-grow:.35;
	justify-content:center;
	padding-right: 15px;
}
nav#main div#logo img {
	width: 50px;
	height: 50px;

}
nav#main div#logo span{
	display: flex;
	align-items:center;
	margin-left: 5px;
	color: rgba(54, 84, 121, 1);
	text-transform: uppercase;
	font-weight: 150;
	text-shadow: 2px 2px rgba(0,0,0,.2);
}
nav#main ul#menu, nav#main ul#user-menu{
	display: flex;
	flex-flow:row wrap;
	flex-grow:2;
}
nav#main ul#user-menu {
	justify-content:flex-end;
	margin-right: 20px;
}
nav#main #menu li a{
	text-decoration:none;
	color: #365479;
	font-family: 'RobotoDraft', arial;
}
nav#main #menu  a:hover{
	color: orange;
}
nav#main #menu li a{
	padding: 9px;
	display:block;
}
nav#main #menu li a.active {
	border: 2px solid rgba(54, 84, 121, 1);
	border-radius: 5px;
}
nav#main .dropdown .btn--icon.btn--l .mdi, .dropdown-menu .dropdown-link {
	color: rgb(54, 84, 121) !important;
}

footer#main {
	margin-top: 50px;
	display: flex;
	flex-flow:column wrap;
	align-items: center;
	align-content: center;
	width: 100%;
	background:
	radial-gradient(rgba(54, 84, 121, .5) 25%, transparent 16%) 0 0,
	radial-gradient(rgba(54, 84, 121, .5) 25%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-size:16px 16px;
	background-color: rgba(54, 84, 121, .7);
	border-top: 5px solid rgb(39, 64, 95);
	padding-bottom: 20px;
}
footer#main section#content {
	display: flex;
	flex-flow:column wrap;
	flex-grow:2;
	justify-content:center;
}
footer#main section#content section#item {
	display: flex;
	flex-flow:column wrap;
	justify-content:center;
	align-items: center;
}
footer#main section header {
	padding: 20px 0px 0px 0px;
}
footer#main section header h3 {
	font-size: 1.2em;
	text-align: center;
	color: white;
}
footer#main section p {
	text-align: center;
	color: #0F2744;
}

.dropdown {
	margin-right: 100px;
}
.dropdown-menu {
	right: 105px !important;
}
.notification {
	background-color: #365479;
	padding: 10px 20px;
}
.notification__icon {
	top: 10px;
	color: white;
}
.main-view > .container {
	width: 80%;
	margin: 70px auto 0px auto;
}
span.error-msg {
	color: salmon;
	font-size: .75em;
}
