<div>    
    <div id="fullpage">
    	<div class="section active" id="section0">
            <section layout="column" layout-sm="column" layout-align="center center" layout-wrap>
        		<h1>OpenSpace</h1>
        		<p>Creating space more open and wide.</p>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button flex ui-sref="signup" class="md-raised">Sign Up</md-button>
                    <md-button flex class="md-raised md-primary">Sign In</md-button>
                </section>
            </section>
    	</div>   	
    </div>
</div>