
<div class="ui grid ">
	<section class="ten wide column centered">
		<h1>Sign Up</h1>
		<div  flex-gutter="10" >
			<div>*Signing up means you agree to the 
				<a href="#">Terms and Conditions</a>.
			</div>
			<div class="ui three top attached steps margin-top-xl">
				<div ui-sref-active="active" ui-sref="signup.form" class="disabled step">
					<i class="truck icon"></i>
					<div class="content">
						<div class="title">Registration Form</div>
						<div class="description"></div>
					</div>
				</div>
				<div ui-sref-active="active" ui-sref="signup.confirm" class="disabled step">
					<i class="payment icon"></i>
					<div class="content">
						<div class="title">Confirmation</div>
						<div class="description"></div>
					</div>
				</div>
				<div ui-sref-active="active" ui-sref="signup.finish" class="disabled step">
					<i class="info icon"></i>
					<div class="content">
						<div class="title">Finish</div>
						<div class="description"></div>
					</div>
				</div>
			</div>
			<div ui-view="signup" class="animated fadeInDown"></div>
		</div>
			
	</section>
</div>