<div class="ui grid ">
	<section class="four wide column centered">
		<h1><i class="icon lock"></i> Sign in Account</h1>
		<div flex-item flex-item="10">
            <lx-text-field label="Username" error="errors.username[0]">
                <input type="text" ng-model="uname">
            </lx-text-field>
            <span class="error-msg" ng-show="errors.username[0].length > 0">{{errors.username[0]}}</span>
        </div>
        <div flex-item flex-item="4">
	        <lx-text-field label="Password" error="errors.password[0]">
	            <input type="password" ng-model="password">
	        </lx-text-field>
            <span class="error-msg" ng-show="errors.password[0].length > 0">{{errors.password[0]}}</span>
	    </div>
	    <br/>
	    <div flex-container="row">
	    	<button class="btn btn--m btn--blue btn--raised" ng-click="submit()">Sign In</button>
    	</div>
	</section>
</div>